*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.vertical-movement-btns {
    position: fixed;
    margin: auto;
    left: 20px;
    bottom: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto;
}

.horizontal-movement-btns {
    position: fixed;
    margin: auto;
    right: 20px;
    bottom: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
}

.vertical-movement-btns div,
.horizontal-movement-btns div {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.527);
}

.vertical-movement-btns div:active,
.horizontal-movement-btns div:active {
    background-color: rgba(255, 255, 255, 0.897);
} 

.loading {
    position: absolute;
    margin: auto;
    top: 0;right: 0;left: 0;bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}